<html>
<head>
	<title>Kelsie's Radical Blog</title>
</head>
	<body>
		<h1>WOW WE DID IT</h1>
		<p>It <em>really </em>works!</p>

<div>
       <h1><a href="/">Kelsie's Radical Blog</a></h1>
    </div>

    <div>
        <p>published: yesterday</p>
        <h2><a href="">Django Day 1</a></h2>
        <p>Inital Setup and Installation</p>
    </div>

    <div>
        <p>published: today</p>
        <h2><a href="">Django Day 2</a></h2>
        <p>Python and Blog Posting</p>
    </div>
</body>
</html>
